body {
    margin: 0;
}

div {
    text-align:center;
    padding: 50px 200px;
    border-top: 1px solid #d5d5d5;
    background-color: #f5f5f5;
}

h1 {
    font-family: Tahoma;
    margin-top: 0;
}

h2 {
    font-family: Tahoma;
}

h3 {
    font-family: Tahoma;
}

img {
    width: 190px
}

a {
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma;
    text-decoration: none;
    color: #fff;
    background-color: #49b970;
    border-radius: 25px;
    padding: 10px 30px;
}

p {
    font-family: tahoma;
    line-height: 28px;
    margin: 15px auto 30px auto;
    width: 930px;
}

span {
    font-family: tahoma;
    font-weight: bold;
}